---
layout: default
title: Home
excerpt: "The Irvine Coding Club is a non-profit student run organization to inspire, teach, and serve the community. Part of Hack Club."
image: assets/images/favicon.png
---

<style>
    .col-3 {
        scale: .9;
    }

    .counter-wrapper .single-counter {
        width: 140px;
        padding: 12px;
    }
</style>

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Irvine Coding Club</h1>
        <text class="lead">A PVSA Certifying Non-Profit Organization Run By Students</text>
        <!-- <a href="/discord" class="btn">Meet Us Now!</a>
        ================================================== -->
    </div>
</section>


<!--====== VIDEO COUNTER PART START ======-->
<link rel="stylesheet" href="https://irvinecoding.club/assets/css/landing_page_style.css">
<link rel="stylesheet" href="https://irvinecoding.club/assets/css/LineIcons.2.0.css">
<section id="facts" class="video-counter pt-70">
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img class="dots" src="https://irvinecoding.club/assets/images/dots.svg" alt="dots">
                    <div class="video-wrapper">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/2VUfZbbN8AU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div> <!-- video wrapper -->
                </div> <!-- video content -->
            </div>
            <div class="col-lg-6">
                <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="counter-content">
                        <div class="section-title">
                              <div class="line"></div>
                              <h3 class="title">OUR MISSION<span> </h3>
                            <h3 class="title"><br/><span>Inspire, Learn, and Serve the Community</span></h3>
                        </div> <!-- section title -->
                    </div> <!-- counter content -->
                    <a  href="/volunteer">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center">
                                  <span class="count"><span class="counter" id="hours">816</span></span>
                                      <p class="text">Volunteer Hours</p>
                                </div>
                            </div> <!-- single counter -->
                        </div>
                        <div class="col-3">
                            <div class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center">
                                    <span class="count"><span class="counter">195</span></span>
                                    <p class="text">Students Enrolled</p>
                                </div>
                            </div> <!-- single counter -->
                        </div>
                        <div class="col-3">
                            <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center">
                                    <span class="count"><span class="counter">24</span></span>
                                    <p class="text">Volunteers</p>
                                </div>
                            </div> <!-- single counter -->
                        </div>
                        <div class="col-3">
                            <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center">
                                    <span class="count"><span class="counter">131</span></span>
                                    <p class="text">Members</p>
                                </div>
                            </div> <!-- single counter -->
                        </div>
                      </div> <!-- row -->
                    </a>
                </div> <!-- counter wrapper -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== VIDEO COUNTER PART ENDS ======-->

<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>ANNOUCEMENT</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>


<!-- Posts Index
================================================== -->


<section class="recent-posts row">

  <div class="col-md-8 main-loop">



  </div>

    <div class="col-sm-8">

      <div class="section-title">
          <h2><span>NEWS LETTER</span></h2>
      </div>

        {% for post in site.posts%}
          {% if post.newsletter == true %}
          {% include newsbox.html %}
          {% endif %}
        {% endfor %}


        <div class="section-title">
            <h2><span>PRESENTATION</span></h2>
        </div>

        <div class="col-lg-10">
            <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <img class="dots" src="https://irvinecoding.club/assets/images/dots.svg" alt="dots">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Wk-TLlNhrcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> <!-- video wrapper -->
            </div> <!-- video content -->
        </div>


    </div>

        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>

</section>
    
    
    
    
    
<script src="https://stats.bruh22.repl.co/stat.js"></script>
<!-- Script for getting Irvine Coding Club member count ->
<--- View source code https://replit.com/@Bruh22/stats -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<script>
    fetch('https://my.irvinecoding.club/api/v1/public/hours').then(a => a.text()).then(hours => document.getElementById('hours').textContent = hours);
</script>
