---
layout: default
title: Home
excerpt: "The Inspire Coding Club is a non-profit student run organization to inspire, teach, and serve the community. Part of Hack Club."
image: assets/images/favicon.png
---

<style>
    .col-3 {
        scale: .9;
    }

    .counter-wrapper .single-counter {
        width: 140px;
        padding: 12px;
    }
</style>
<link rel="stylesheet" href="/assets/css/landing_page_style.css">

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Inspire Coding Club</h1>
        <text class="lead">A Student-Run 501(c)(3) Non-Profit Organization</text>
        <!-- <a href="/discord" class="btn">Meet Us Now!</a>
        ================================================== -->
    </div>
</section>

<section class="advertisements-container">
    <div class="ad-box">
        <h3>Enroll Today</h3>
        <br><br>
        Enroll in 8 unique courses in the summer of 2024!
        <br><br><br>
        <h5><a href="{{ site.baseurl }}/courses">View Course Catalog</a></h5>
    </div>
    <div class="ad-box">
        <h3>Our Newsletter</h3>
        <br>
        Don't miss a thing! Get notified about course listings, volunteering opportunities, and more!
        <br><br>
        <h5><a href="{{ site.baseurl }}/subscribe">Subscribe Now    </a></h5>
    </div>
    <div class="ad-box">
        <h3>Teach With Us</h3>
        <br><br>
        Interested in volunteering?
        <br><br><br><br>
        <h5><a href="{{ site.baseurl }}/volunteer">Read More </a></h5>
    </div>
    <div class="ad-box">
        <h3>Donate</h3>
        <br><br>
        Support the ICC!
        <br><br><br><br>
        <h5><a href="javascript:donateOpen();">Donate Here </a></h5>
    </div>
</section>


<section class="recent-posts row">

  <div class="col-md-9 main-loop">


  </div>

    <div class="col-sm-9">

      <div class="section-title">
          <h2><span>WORKSHOPS@SHELTER</span></h2>
      </div>

        {% for post in site.posts%}
          {% if post.workshopatshelter == true %}
          {% include newsbox2.html %}
          {% endif %}
        {% endfor %}

    </div>

        <div class="col-sm-3">
            {% include sidebar2.html %}
        </div>

</section>




<section class="recent-posts row">

  <div class="col-md-9 main-loop">


  </div>

    <div class="col-sm-9">

      <div class="section-title">
          <h2><span>CODING 4 SIERRA LEONE</span></h2>
      </div>

        {% for post in site.posts%}
          {% if post.sierraleone == true %}
          {% include newsbox2.html %}
          {% endif %}
        {% endfor %}

    </div>


</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>EVENTS</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>




<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>TOURNAMENTS</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.comeptitions == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->


<section class="recent-posts row">

  <div class="col-md-8 main-loop">



  </div>

    <div class="col-sm-8">

      <div class="section-title">
          <h2><span>NEWSLETTERS</span></h2>
      </div>

        {% for post in site.posts%}
          {% if post.newsletter == true %}
          {% include newsbox.html %}
          {% endif %}
        {% endfor %}


        <div class="section-title">
            <h2><span>PRESENTATION</span></h2>
        </div>

        <div class="col-lg-10">
            <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <img class="dots" src="/assets/images/dots.svg" alt="dots">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Wk-TLlNhrcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> <!-- video wrapper -->
            </div> <!-- video content -->
        </div>


    </div>

        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>

</section>




<script>
    // fetch('https://my.inspirecoding.org/api/v1/public/hours').then(a => a.text()).then(hours => document.getElementById('hours').textContent = hours);
    fetch('https://iccapi.irvinecodingclub.repl.co/api/members').then(a => a.json()).then(e => document.getElementById('members').textContent = e.members);
</script>
