---
layout: default
title: Home
excerpt: "The Inspire Coding Club is a non-profit student run organization to inspire, teach, and serve the community. Part of Hack Club."
image: assets/images/favicon.png
---

<link rel="stylesheet" href="/assets/css/landing_page_style.css">

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Inspire Coding Club</h1>
        <text class="lead">A Student-Run 501(c)(3) Non-Profit Organization</text>
        <!-- <a href="/discord" class="btn">Meet Us Now!</a>
        ================================================== -->
    </div>
</section>

<section class="advertisements-container">
    <div class="ad-box">
        <img class="ad-dots" src="/assets/images/dots.svg" alt="dots">
        <h3>Enroll Today</h3>
        Enroll in 8 unique courses in the summer of 2024
        <br><br>
        <h5 class="ad-text"><a href="{{ site.baseurl }}/courses">View Course Catalog</a></h5>
    </div>
    <div class="ad-box">
        <img class="ad-dots" src="/assets/images/dots.svg" alt="dots">
        <h3>Our Newsletter</h3>
        Get notified about course listings, volunteering opportunities, and more!
        <br>
        <h5 class="ad-text"><a href="{{ site.baseurl }}/subscribe">Subscribe Now</a></h5>
    </div>
    <div class="ad-box">
        <img class="ad-dots" src="/assets/images/dots.svg" alt="dots">
        <h3>Teach With Us</h3>
        <br>
        Interested in volunteering?
        <br><br>
        <h5 class="ad-text"><a href="{{ site.baseurl }}/volunteer">Read More</a></h5>
    </div>
    <div class="ad-box">
        <img class="ad-dots" src="/assets/images/dots.svg" alt="dots">
        <h3>Donate</h3>
        <br>
        Support the ICC
        <br><br>
        <h5 class="ad-text"><a href="javascript:donateOpen();">Donate Here</a></h5>
    </div>
</section>

<section class="advertisements-mobile">
    <div class="ad-box-mobile">
        <h3>Enroll Today</h3>
        Enroll in 8 unique courses in the summer of 2024
        <br><br>
        <h5 class="ad-text-mobile"><a href="{{ site.baseurl }}/courses">View Course Catalog</a></h5>
    </div>
    <div class="ad-box-mobile">
        <h3>Our Newsletter</h3>
        Get notified about course listings, volunteering opportunities, and more!
        <br>
        <h5 class="ad-text-mobile"><a href="{{ site.baseurl }}/subscribe">Subscribe Now</a></h5>
    </div>
    <div class="ad-box-mobile">
        <h3>Teach With Us</h3>
        Interested in volunteering?
        <br><br>
        <h5 class="ad-text-mobile"><a href="{{ site.baseurl }}/volunteer">Read More</a></h5>
    </div>
    <div class="ad-box-mobile">
        <h3>Donate</h3>
        Support the ICC
        <br><br>
        <h5 class="ad-text-mobile"><a href="javascript:donateOpen();">Donate Here</a></h5>
    </div>
</section>

<br>

<!-- PLACEHOLDER CONDENSED NEWS SECTION (probably like 1 strip of most recent stuff) -->

<!--====== VIDEO COUNTER PART START ======-->
<link rel="stylesheet" href="/assets/css/video_counter.css">
<section id="facts" class="video-counter pt-70">
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img class="dots" src="/assets/images/dots.svg" alt="dots">
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2VUfZbbN8AU" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div> <!-- video wrapper -->
                </div> <!-- video content -->
            </div>
            <div class="col-lg-6">
                <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="counter-content">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">OUR MISSION</h3>
                            <h3 class="title"><br /><span>Inspire, Learn, and Serve the Community</span></h3>
                        </div> <!-- section title -->
                    </div> <!-- counter content -->
                    <a href="/volunteer">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div
                                    class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter" id="hours">1827</span></span>
                                        <p class="text">Volunteer Hours</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-3">
                                <div
                                    class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">800</span></span>
                                        <p class="text">Students Served</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-3">
                                <div
                                    class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">40</span></span>
                                        <p class="text">Volunteers</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                        </div> <!-- row -->
                    </a>
                </div> <!-- counter wrapper -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<br><br>
<!--====== VIDEO COUNTER PART ENDS ======-->

<section class="featured-posts">

    <div class="section-title">
        <h2><span>GET IN TOUCH</span></h2>
    </div>

    <div class="row listfeaturedtag qr-codes">
        <div class="col">
            <img class="row contact-code" src="{{ site.baseurl }}/assets/images/enroll2024.png" alt="Enroll Code">
            <br>
            <h5>Enroll for the Summer of 2024!</h5>
        </div>
        <div class="col">
            <img class="row contact-code" src="{{ site.baseurl }}/assets/images/wechat_code.png" alt="WeChat Code">
            <br>
            <h5>Join our WeChat group!</h5>
        </div>
        <div class="col">
            <img class="row contact-code" src="{{ site.baseurl }}/assets/images/discord_code.png" alt="Discord Code">
            <br>
            <h5>Join our Discord server!</h5>
        </div>
        <div class="col sidebar">

            <div class="sidebar-section">
                <h5><span>A PVSA Certifying Organization</span></h5>
                <center><a href="/volunteer">
                        <img src="/assets/images/pvsa-logo.png" style="height:10vw;" alt="PVSA" /></a></center>
            </div>

        </div>
    </div>
</section>

<br><br>

<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>NEWS</span></h2>
    </div>

    <div class="row listfeaturedtag">

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide h-200">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" style="padding:0 7vw 0 7vw;">
                            {% assign featuredCount = 0 %}
                            {% for post in site.posts %}
                                {% if post.featured == true %}

                                    {% assign featuredCount = featuredCount | plus:1 %}

                                    <div class="col">

                                        {% include featuredbox.html %}

                                    </div>

                                    {% if featuredCount == 2 %}{% break %}{% endif %}

                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="padding:0 7vw 0 7vw;">
                        {% assign count = 0 %}
                        {% for post in site.posts %}
                        {% if post.featured == false %}

                        {% assign count = count | plus:1 %}

                        <div class="col">

                            {% include featuredbox.html %}

                        </div>

                        {% if count == 2 %}{% break %}{% endif %}

                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

</section>

<script>
    // fetch('https://my.inspirecoding.org/api/v1/public/hours').then(a => a.text()).then(hours => document.getElementById('hours').textContent = hours);
    fetch('https://iccapi.irvinecodingclub.repl.co/api/members').then(a => a.json()).then(e => document.getElementById('members').textContent = e.members);
</script>
