
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          Irvine Coding Club
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">

            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VOLUNTEER
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border: 1px solid #eceeef;">
                            <a class="dropdown-item" href="{{ site.baseurl }}/volunteer">Volunteer Now</a>
                        <a class="dropdown-item" target="_blank" href="https://my.irvinecoding.club/users/@me/volunteer/log">Log Hours</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Learn
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border: 1px solid #eceeef;">
                      <a class="dropdown-item" href="{{ site.baseurl }}/summer2021">Summer 2021 Courses</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/schedule2021">Summer Schedule</a>
                      <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ site.baseurl }}/courses">Courses</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/webinars">Webinars</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compete
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border: 1px solid #eceeef;">
                        <a class="dropdown-item" href="{{ site.baseurl }}/tournament">Debate Tournament</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ site.baseurl }}/fame">Hall of Fame</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/hackathons">Hackathon Showcase</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ site.baseurl }}/competition">Competitive Programming</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/usaco">USACO</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/cyberpatriot">CyberPatriot</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/acsl">ACSL</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/python">Python IDE</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="javascript:donateOpen();">Donate</a>
                </li>

            </ul>

            <!-- End Menu -->

        </div>
    </div>
</header>


    <div class="modal" tabindex="-1" role="dialog" id="donate">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" onclick="donateClose();" class="close" data-dismiss="modal" aria-label="Close" style="outline:0">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 0px;height: calc(100vh - 174px);">
                    <iframe src="https://bank.hackclub.com/donations/start/irvine-coding-club" style="
                      width: 100%;
                      box-sizing: content-box;
                      border: 0px;
                      border-radius: 0px 0px .3rem .3rem;
                      height: 100%;
                    "></iframe>
               </div>
           </div>
      </div>
  </div>
