<div class="sidebar">

  <div class="sidebar-section">
        <h5><span>PVSA</span></h5>
         <center><a href="/volunteer">
       <img src="https://irvinecoding.club/assets/images/pvsa-logo.png" alt="PVSA" /></a></center>
   </div>

        <div class="sidebar-section">
              <h5><span>Member Sign Up</span></h5>
            <a href="https://forms.gle/Ky4S6YLkkursGyZn6" title="Member Signing Up"><img src="https://irvinecoding.club/assets/images/icc_poster.png" alt="Irvine Coding Club" /></a>
         </div>



                 <div class="sidebar-section">
                     <h5><span>News letter</span></h5>
                     {% include newsletter.html %}
                 </div>

                  <div class="sidebar-section">
                     <h5><span>FOLLOW US</span></h5>
                     <a href="https://instagram.com/irvinecodingclub">
                       <div class="image-container">
                         <img src="https://irvinecoding.club/assets/images/instagram.png" alt="instagram irvinecodingclub" text-align: center /></a>
                        </div>
                    </a>
                  </div>

</div>
