<div class="sidebar">

  <div class="sidebar-section">
        <h5><span>A PVSA Certifying Org</span></h5>
         <center><a href="/volunteer">
       <img src="https://irvinecoding.club/assets/images/pvsa-logo.png" alt="PVSA" /></a></center>
   </div>

   <div class="sidebar-section">
         <h5><span>A PROUD MEMBER OF</span></h5>
          <center><a href="https://hackclub.com/">
        <img src="https://assets.hackclub.com/flag-orpheus-left.svg" alt="hackclub" style="width:112px;height:48;"/></a></center>
    </div>

   <div class="sidebar-section">
         <h5><span>SUPPORTED BY</span></h5>
          <center><a href="https://www.stickermule.com/">
        <img src="https://cdn.worldvectorlogo.com/logos/sticker-mule.svg" alt="hackclub" style="width:112px;height:48;"/></a></center>
    </div>

        <div class="sidebar-section">
              <h5><span>Member Sign Up</span></h5>
            <a href="/discord" title="Member Signing Up"><img src="https://irvinecoding.club/assets/images/iccposter.jpg" alt="Irvine Coding Club" /></a>
         </div>


                 <div class="sidebar-section">
                   <h5><span>Wechat Group</span></h5>
                    <center><a href="https://weixin.qq.com/cgi-bin/readtemplate?check=false&t=weixin_getdownurl_sms&s=download&from=100&stype=10037102">
                  <img src="https://irvinecoding.club/assets/images/wechat.png" style="width:160px;height:160;"/></a></center>
                 </div>

                  <div class="sidebar-section">
                     <h5><span>FOLLOW US</span></h5>
                     <div id="sidebarcont">
                        <a href="https://instagram.com/irvinecodingclub">
                           <img class="discord sidebaricons" src="https://irvinecoding.club/assets/images/instagram.png"> </a>
                           <a href="https://www.youtube.com/channel/UCqN97rf-M3vnJq5g1IMZx4Q">
                        <img class="discord sidebaricons" src="https://irvinecoding.club/assets/images/youtube.png"></a>
                     </div>
                  </div>

</div>
