<div class="sidebar">




        <div class="sidebar-section">
              <h5><span>Member Sign Up</span></h5>
            <a href="/join" title="Member Sign Up"><img src="/assets/images/iccposter.jpg" onerror="this.style.display='none'" />
              Sign up as a member or volunteer!
            </a>
         </div>



                  <div class="sidebar-section">
                     <h5><span>FOLLOW US</span></h5>
                     <div id="sidebarcont">
                       <a href="https://instagram.com/irvinecodingclub">
                          <img class="discord sidebaricons" src="/assets/images/instagram.png">
                       </a>
                       <a href="https://www.facebook.com/irvinecodingclub">
                          <img class="discord sidebaricons" src="/assets/images/facebook.png" style="background-color:#1877f2">
                       </a>
                       <a href="https://www.youtube.com/channel/UCqN97rf-M3vnJq5g1IMZx4Q">
                         <img class="discord sidebaricons" src="/assets/images/youtube.png">
                       </a>
                     </div>
                  </div>


                  <div class="sidebar-section">
                     <h5><span>SPONSORS</span></h5>

                   <a href="https://codingmindsacademy.com" title="codingmindsacademy"><img src="https://codingmindsacademy.com/img/my/logo1.png" onerror="this.style.display='none'" />

                   </a>


                   <a href="https://harmony.one/" title="princess sara"><img src="/assets/images/harmonyone.png" onerror="this.style.display='none'" />

                  </a>

 
                  </div>

</div>
