---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.image-container {
  display: flex;
  justify-content: center;
}

/**
{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}*/

.team-section
{
	text-align: center;
}

.inner-width
{
	max-width: 1300px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 4);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #dfe4ea;
}

.pe img
{
  object-fit: cover;
	width:200px;
	height: 200px;
	border-radius: 50%;
}

.p-name
{
	margin: 5px;
	text-transform: uppercase;
}

.p-des
{
	font-style: italic;
	color: #3498db;
}

.p-sm
{
	margin-top: 6px;
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #333;
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe{
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.pe{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.pe{
		width: 100%;
	}
}

 
