/*==========================
         CUSTOM CSS
===========================*/
a[href="/volunteer"] { /* remove annoying underlines for the volunteer counter buttons */
  text-decoration: none;
}

div#sidebarcont a { /* this one isn't as noticeable but it is annoying */
  text-decoration: none;
}

.wrapintro { /* make the text have a little more contrast while keeping still and composed */
  background: #fff6;
  width: 700px;
  border-radius: 20px;
}

.line {
  background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 150px;
  height: 5px;
  margin-bottom: 10px !important; }

  /*===========================
       9.ADVERTISEMENTS  css
===========================*/
.advertisements-container {
  display: grid;
  column-gap: 2vw;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-template-rows: 10vw;
  justify-content: center; /* i figured out how to center a div */

  position: relative;
  margin-top: -3vh;
  z-index: 1;
}
.ad-dots {
  position: absolute;
  left: -35px;
  bottom: -20px;
  z-index: -1;
  width: 15vw;
  height: 10vw;
  border-radius: 40px;
}
.ad-box {
  position: relative;
  background: lightblue;
  border-radius: 20px;
  text-align: center;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;

  font-size: 0.9vw;
  line-height: 1.35vw;
}
.ad-box > h3 {
  font-size: 1.5vw;
}
.ad-text {
  padding-top: 0.75vw;
  font-size: 1.25vw;
  text-decoration: none;
}
.ad-text > a {
  text-decoration: none;
}
.advertisements-mobile {
  visibility: hidden;
  position: absolute;

  display: grid;
  column-gap: 0;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 20vw 20vw;

  margin-left: -4vw;
  margin-top: 2vh;
}
.ad-box-mobile {
  background: lightblue;
  outline-color: black;
  outline-style: dashed;
  text-align: center;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
}
.ad-text-mobile {
  font-size: 2.5vw;
}
.ad-box-mobile>h3 {
  font-size: 4vw;
}

@media only screen and (max-width: 975px) { /* mobile support, remove boxes and add a section instead */
  .advertisements-container {
    visibility: hidden;
    position: absolute;
  }
  .advertisements-mobile {
    visibility: visible;
    position: static;
  }
}

.contact-code {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
}

.carousel-inner img {
  margin: auto;
}
/*===========================
       10.SUBSCRIBE  css
===========================*/
.subscribe-area {
  padding: 40px 50px 90px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  -moz-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  border-radius: 10px;
  background-color: #fff; }
  @media (max-width: 767px) {
    .subscribe-area {
      padding: 10px 30px 60px; } }

.subscribe-content .subscribe-title {
  font-size: 35px;
  font-weight: 700; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .subscribe-content .subscribe-title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .subscribe-content .subscribe-title {
      font-size: 24px; } }
  .subscribe-content .subscribe-title span {
    font-weight: 400; }

.subscribe-form {
  position: relative; }
  .subscribe-form input {
    border: 2px solid #E1E1E1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #2E2E2E; }
    .subscribe-form input::placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input::-moz-placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input::-moz-placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input::-webkit-input-placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input:focus {
      border-color: #361CC1; }
  .subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 65px;
    line-height: 65px;
    background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%; }
    @media (max-width: 767px) {
      .subscribe-form button {
        position: relative;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .subscribe-form button {
        position: absolute;
        width: auto;
        margin-top: 0;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }
    .subscribe-form button:hover {
      color: #fff;
      background-position: right center; }



      